.cabeçalho{
    display: inline-flex; /*organiza o texto em linha flexivel*/
    width: 100%;
}
.mostarda {
    background-color:#B7730E;
    width: 50%;
    height: 297px;
    display: flex;
    justify-content: center;
}

.mostarda-imagem{
    width: 233px;
    height: 229px;
    padding: 34px; 
}

.cinza{
    background-color: #B0AFAF;
    width: 50%;
    height: 297px;
    display:flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 64px;
}

.cinza-texto{
    font-size: 85%;
    display: inline-block;
    align-items: center;
    margin: 77px;
    text-align: center;
}

.titulo{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 91px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.texto{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: justify;
    width: 100%;
    height: 240px;
}

.texto p {
    padding: 0 26px;
}

.estrutura {
    padding: 0 31px;
    /* width: 100%; */
    display: grid; /*organiza os elementos em grades*/
    grid-template-columns: 46% 46%;/*define o tamanho das colunas*/
    row-gap: 78px; /*lacuna horizontal entre elementos*/
    column-gap: 99px; /*lacuna vertical entre os elementos*/
    padding-bottom: 29px;/*borda de baixo*/
}

.estrutura img {
    width: 100%;
}


.fachada, .Laboratório, .Esportiva, .Pátio{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.rodapé {
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: 210px 35px 1104px;
}

.telefone, .endereço, .email{
    color: #B7730E;
    padding: 8px 0;
}

.link{
     color: #ffffff;
     font-family: 'Inter', sans-serif;
     font-weight: 900;
     font-size: 24px;
     text-align: center;
     padding-top: 14px;
}

.link a {
    color: white;
}

.icones img {
    width: 68%;
    padding-top: 5px;
}
