.cabeçalho{
    display: inline-block; /*organiza o texto em linha flexivel*/
}
.mostarda {
    background-color:#B7730E;
    width: 720px;
    height: 297px;
    display: flex;
    justify-content: center;
}

.mostarda-imagem{
    width: 233px;
    height: 229px;
    padding: 34px; 
}

.cinza{
    background-color: #B0AFAF;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 64px;
}

.cinza-texto{
    display: inline-block;
    align-items: center;
    margin: 77px;
    text-align: center;
}
