.cabeçalho{
    display: inline-flex; /*organiza o texto em linha flexivel*/
    width: 100%;
}
.mostarda {
    background-color:#B7730E;
    width: 50%;
    height: 297px;
    display: flex;
    justify-content: center;
}

.mostarda-imagem{
    width: 233px;
    height: 229px;
    padding: 34px; 
}

.cinza{
    background-color: #B0AFAF;
    width: 50%;
    height: 297px;
    display:flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 64px;
}

.cinza-texto{
    font-size: 85%;
    display: inline-block;
    align-items: center;
    margin: 77px;
    text-align: center;
}

.titulo{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 91px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.texto{
    font-family: 'Inter', sans-serif; ;
    font-weight: 400;
    font-size: 40px;
    text-align: justify;
    margin: 0 0 0 215px;
    width: 1362px;
    height: 240px;
    padding-bottom: 50px;
}

.estrutura img {
    width: 125%;
}

.estrutura {
    display: grid; /*organiza os elementos em grades*/
    grid-template-columns: 675px 675px;/*define o tamanho das colunas*/
    row-gap: 90px; /*lacuna horizontal entre elementos*/
    column-gap: 191px; /*lacuna vertical entre os elementos*/
    margin: 10px 0px 0px 82px;
    padding-bottom: 27px;/*borda de baixo*/
}


.fachada {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.Laboratório {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.Esportiva {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.Pátio {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center; 
}
